@import url("https://use.typekit.net/jmk3xov.css");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-color: black;
  /* background: url("./images/space12.png") no-repeat center center fixed;
  background-size: cover; */
}

body {
  position: relative;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --dark-bg: rgba(41, 28, 88, 1);
  --spacing: 350px;
  font-family: "Abel", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  justify-items: start;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 3.5vw;
  line-height: 0.8;
  font-family: "BenchNine", sans-serif;
  font-family: "Press Start 2P", cursive;
  position: relative;
  width: max-content;
}

.scroll {
  display: flex;
  width: max-content;
  font-size: 1.2vw;
  align-items: flex-end;
  animation: flickerAnimation 1s infinite;
  transform: translateY(3rem);
  animation: fadeIn 2s ease 8s forwards, flickerAnimation 2s infinite 9s;
  opacity: 0;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.line1::before,
.line1::after,
.line2::before,
.line2::after,
.line3::before,
.line3::after,
.line4::before,
.line4::after {
  margin-block: -6px;
  content: " ";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.line1::before,
.line2::before,
.line3::before,
.line4::before {
  background-color: var(--dark-bg);
}

.line1::after,
.line2::after,
.line3::after,
.line4::after {
  width: 0.125em;
  background: white;
  opacity: 0;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    opacity: 1;
  }
}

.line1::before {
  animation: typewriter 1.4s steps(7) 1s forwards;
}

.line1::after {
  animation: typewriter 1.4s steps(7) 1s forwards, blink 650ms steps(7) infinite;
  animation-iteration-count: 3.5;
}

.line2::before {
  animation: typewriter 1.4s steps(7) 2.6s forwards;
}

.line2::after {
  animation: typewriter 1.4s steps(7) 2.6s forwards,
    blink 650ms steps(7) infinite;
  animation-iteration-count: 2;
  animation-delay: 2.6s;
}

.line3::before {
  animation: typewriter 1.4s steps(8) 4s forwards;
}

.line3::after {
  animation: typewriter 1.4s steps(7) 4s forwards, blink 650ms steps(7) infinite;
  animation-iteration-count: 2.2;
  animation-delay: 4s;
}

.line4::before {
  animation: typewriter 1.4s steps(9) 5.5s forwards;
}

.line4::after {
  animation: typewriter 1.4s steps(7) 5.5s forwards,
    blink 650ms steps(7) infinite;
  animation-iteration-count: 2.5;
  animation-delay: 5.5s;
}

.subtitle {
  transform: translateY(3rem);
  animation: fadeIn 2s ease 7s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
} */

header {
  background: var(--dark-bg);
  grid-column: 2 / span 6;
  font-size: 2.5rem;
  padding: 2rem;
  opacity: 0.9;
  margin-bottom: 35%;
}

section {
  grid-column: 2 / 9;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

section img {
  width: 100%;
  padding-bottom: 10px;
  border-radius: 5px;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imagesPreview img {
  width: 49%; /* Default to half width for desktop */
  height: auto; /* Maintain aspect ratio */
}

.empty-div {
  display: none;
}

.dev-icon {
  width: 6%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.livePreview a {
  color: rgb(171, 161, 209);
  letter-spacing: 5px;
}

.livePreview a:hover {
  color: white;
  transition: all 0.5s;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 3rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

.weather-img {
  width: 49%;
}

#more {
  display: none;
}

#myBtn,
#myBtn1 {
  font-family: "Orbitron", sans-serif;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

#myBtn:hover,
#myBtn1:hover {
  background-color: rgb(185, 185, 185);
}

@media (max-width: 468px) {
  main {
    display: inline !important;
  }
  .header {
    margin-top: 40%;
    text-align: center;
    margin-bottom: 10vh;
    opacity: 0.9;
    padding: 1.5rem;
  }
  #bg {
    width: 200vw !important;
    height: -webkit-fill-available !important;
  }
  .header h1 {
    font-size: 7vw;
    line-height: none;
    height: 5%;
  }
  .subtitle {
    font-size: 1.8rem;
  }
  .scroll {
    font-size: 1.3rem;
  }
  .section-heading {
    flex-wrap: wrap;
  }
  .dev-icon {
    width: 15%;
    object-fit: contain;
    margin-bottom: 10px;
  }
  .empty-div {
    display: flex;
    width: 100%;
  }
  .imagesPreview img {
    width: 100%; /* Full width on mobile */
  }
}

@media (max-width: 828px) and (min-width: 468px) {
  main {
    display: inline !important;
  }
  .header {
    height: 40vh;
    width: 45%;
    text-align: center;
    margin-bottom: 0;
    opacity: 0.9;
  }
  .header h1 {
    font-size: 4.5vw;
    padding-bottom: 20px;
    line-height: none;
    height: 5%;
  }
  .subtitle {
    font-size: 3rem;
  }
  .scroll {
    font-size: 2rem;
  }
}

@media (min-width: 1600px) {
  .header h1 {
    font-size: 3vw;
  }
}
