@import url("https://use.typekit.net/jmk3xov.css");
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --dark-bg: rgba(41, 28, 88, 1);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 3.5vw;
  line-height: 0.8;
  font-family: "BenchNine", sans-serif;
  font-family: "Press Start 2P", cursive;
  position: relative;
  width: max-content;
}
.scroll {
  margin-bottom: 45vh;
  display: flex;
  width: max-content;

  align-items: flex-end;

  /* animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 7s; */

  transform: translateY(3rem);
  animation: fadeIn 2s ease 8s forwards;
  opacity: 0;
}
.line1::before,
.line1::after {
  margin-block: -6px;
  content: " ";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}
.line1::before {
  background-color: var(--dark-bg);
  animation: typewriter 1.4s steps(7) 1s forwards;
}
.line1::after {
  width: 0.125em;
  background: white;
  opacity: 0;
  animation: typewriter 1.4s steps(7) 1s forwards, blink 650ms steps(7) infinite;
  animation-iteration-count: 3.5;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    opacity: 1;
  }
}

.line2::before,
.line2::after {
  margin-block: -6px;

  content: " ";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}
.line2::before {
  background-color: var(--dark-bg);
  animation: typewriter 1.4s steps(7) 2.6s forwards;
}
.line2::after {
  width: 0.125em;
  background: white;
  opacity: 0;
  animation: typewriter 1.4s steps(7) 2.6s forwards,
    blink 650ms steps(7) infinite;
  animation-iteration-count: 2;
  animation-delay: 2.6s;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
.line3::before,
.line3::after {
  margin-block: -6px;

  content: " ";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}
.line3::before {
  background-color: var(--dark-bg);
  animation: typewriter 1.4s steps(8) 4s forwards;
}
.line3::after {
  width: 0.125em;
  background: white;
  opacity: 0;
  animation: typewriter 1.4s steps(7) 4s forwards, blink 650ms steps(7) infinite;
  animation-iteration-count: 2.2;
  animation-delay: 4s;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
.line4::before,
.line4::after {
  margin-block: -6px;

  content: " ";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}
.line4::before {
  background-color: var(--dark-bg);
  animation: typewriter 1.4s steps(9) 5.5s forwards;
}
.line4::after {
  width: 0.125em;
  background: white;
  opacity: 0;
  animation: typewriter 1.4s steps(7) 5.5s forwards,
    blink 650ms steps(7) infinite;
  animation-iteration-count: 2.5;
  animation-delay: 5.5s;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
.subtitle {
  transform: translateY(3rem);
  animation: fadeIn 2s ease 7s forwards;
  opacity: 0;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-position: center;
}
#id {
  background-color: hsl(0 0% 100%/0.5);
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
section img {
  width: 100%;
  padding-bottom: 10px;
  border-radius: 5px;
}
.livePreview a {
  color: rgb(171, 161, 209);
  letter-spacing: 5px;
}
.livePreview a:hover {
  color: white;
  transition: all 0.5s;
}
blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}
